@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

.content {
  width: 100%;
}

.searchTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}

.searchInput {
  border-radius: 0;
}

.inputContainer {
  margin-top: 4px;
  display: flex;
  box-sizing: border-box;
  height: 54px;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 3px;
}

.row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.row::-webkit-scrollbar {
  display: none;
}

.poster {
  position: relative;
  object-fit: contain;

  width: 100%;
  aspect-ratio: 1/1;
  display: inline;
  /* overflow: hidden; */
  margin-right: 13px;
}

.textBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
